{% extends "AppBundle::base.html.twig" %}

{% block title %}{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}{% endblock %}
{% block description %}{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}{% endblock %}

{% block body %}
    <div class="main-wrapper message">
        <div class="container">
            <div class="main">

                <div class="row">
                    <div class="col-sm-3 sidebar">
                        <div class="block block-account">
                            <div class="block-title">
                                <strong><span>{% trans from 'FOSMessageBundle' %}messenger{% endtrans %}</span></strong>
                            </div>
                            <div class="block-content">
                                <ul>
                                    <li><a class="current" href="{{ url('fos_message_inbox') }}">{% trans from 'FOSMessageBundle' %}inbox{% endtrans %}</a></li>
                                    <li><a href="{{ url('fos_message_sent') }}">{% trans from 'FOSMessageBundle' %}sent{% endtrans %}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        {% block fos_message_content %}{% endblock %}
                    </div><!-- col -->
                </div><!-- .row -->

            </div>
        </div>
    </div>
{% endblock %}
