{% extends 'AppBundle::base.html.twig' %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block body %}
  <div class="row">
    <div class="col-md-6 col-xs-12 text-center">
      <h1>Une erreur technique s'est produite...</h1>
      <p>On dirait que quelque chose ne s'est pas passé correctement.</p>
      <p>Nous surveillons automatiquement les erreurs techniques mais si le problème persiste,
        n'hésitez pas à <a href="{{url('contact')}}">nous contacter</a>.</p>
      <p>Nous vous invitons à aller voir nos <a href="{{ path('homepage') }}">produits</a>.</p>
      <p>Vous pouvez également <a href="{{ path('sell_category') }}">déposer un produit</a>.</p>
      <a href="{{ path('homepage') }}" class="btn btn-primary btn-lg">
        <i class="fa fa-share"></i> Retour à l'accueil du site
      </a>
    </div>
  </div>
{% endblock %}
