body{
}

.featuring-product {
    margin-bottom: 50px;

    h2 {
        font-size: 1.6em;
        margin-top: 0;
        font-weight: 600;
        letter-spacing: -.02em;
    }

    h3 {
        font-size: .8em;
        text-transform: uppercase;
    }
}

.faq{

    h1{
        margin-top: 40px;
    }
    h2{
        color: $brand-primary;
        margin-top: 60px;

        font-style: normal;
        color: #181818;
        opacity: 1;
        visibility: visible;
        font-size: 16px;
        text-transform: uppercase;
    }


    h3{
        margin-top: 30px;
        font-size: 1.6em;
    }

    ul{
        padding-left: 30px;
        li{
            margin: 4px 0;
        }
        li:before {
            content: "→ "; /* caractère UTF-8 */
        }
    }

    .need-help{

        margin-top: 130px;

        padding: 27px 30px 30px;
        border: 1px solid #bbb;
        border-radius: 8px;
        text-align: center;

        h4{
            font-style: normal;
            color: #181818;
            opacity: 1;
            visibility: visible;
            font-size: 14px;
            text-transform: uppercase;
        }
    }

    .items-info{
        margin-top: 50px;

        .address{
            color: #181818;
        }
        .item-info-li i{
            border-color: rgb(235,213,112);
            color: rgb(235,213,112);
        }
    }

    .img-faq-premium{
        margin-top: 50px;
        width: 100%;
    }

    .panel-default > .panel-heading{

        cursor: pointer;
        position: relative;
        padding: 8px 0 7px 8px;
        border-radius: 0px;
        background: transparent;
        -webkit-transition: all 180ms ease-in;
        -o-transition: all 180ms ease-in;
        transition: all 180ms ease-in;

        .panel-title{
            font-family: Montserrat;
            text-transform: uppercase;
            font-size: 12px;
            color: #555;
            font-weight: normal;

            a{
                display:block;
                width: 100%;
            }

        }
    }
}

.contact{
    h1{
        margin: 50px 0 30px;
    }

}

.home-value {
    background-repeat: no-repeat;
    text-align: center;
    padding: 140px 30px 30px;
    background-position: center 30px;
}

.home-value.home-value-purchase { background-image: url('../bundles/app/images/homepage/home-value-purchase.png'); }
.home-value.home-value-sell { background-image: url('../bundles/app/images/homepage/home-value-sell.png'); }
.home-value.home-value-security { background-image: url('../bundles/app/images/homepage/home-value-security.png'); }

.home-value-title {
    font-size: 1.5em;
    margin-bottom: 15px;
    color: $brand-primary;
}

.home-value-link {
    margin-top: 10px;
    font-size: 1.1em;
    text-decoration: underline;
    display: block;
}

h3.category-product{
    margin-top: 50px;
    margin-bottom: 20px;
}