body{
}

.featuring-product {
    margin-bottom: 50px;

    h2 {
        font-size: 1.6em;
        margin-top: 0;
        font-weight: 600;
        letter-spacing: -.02em;
    }

    h3 {
        font-size: .8em;
        text-transform: uppercase;
    }
}