.product-view{

  .info-delivery{
    font-size: 0.85em;
    line-height: 18px;
    margin-top: 15px;
  }

  .product-img-list {

    .owl-nav{
      text-align: center;
       .owl-nav-left,  .owl-nav-right{
        padding: 0 25px;
        color: #d99f25;
      }
    }

    #img-products {
      .item {
        padding: 15px;
        img {
          border: 1px solid #dcdcdc;
        }
      }
    }
  }
  .comments{
    padding-top: 0px;
    border-top: 1px solid #dcdcdc;
    padding-bottom: 30px;

    h4{
      color: #d99f25;
      text-transform: uppercase;
      font-size: 1.2em;
    }
  }

  h3.product-title{
    color: #d99f25;
    text-transform: uppercase;
    font-size: 1.3em;
  }

  .links-price{
    border-top: none !important;

    .review-product-details-price{
      border-top: none;
      padding-top: 0px !important;
      text-align:right;
    }

  }


  .items-info-contact,
  .need-help{

    font-size: 11px;

    padding: 27px 30px 30px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    text-align: center;

    h4{
      font-style: normal;
      color: #181818;
      opacity: 1;
      visibility: visible;
      font-size: 14px;
      text-transform: uppercase;
    }

    .item-info-li {
      height: 58px;
    }

  }

  .items-info-contact{
    margin-top: 50px;
  }

  .need-help-bottom{
    margin-top: 50px;
  }

  .items-info{
    margin-top: 50px;

    border: 10px solid #F5F5F5;
    padding: 22px;

    h4{
      color: #181818;
      font-style: normal;
      opacity: 1;
      visibility: visible;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }

    .item-info-li {

      height: 58px;
      font-size: 11px;
      i {
        background: rgb(235, 213, 112);
        border: none;
        color: white;
        border-radius: 50%;
        font-size: 1.7em;
        line-height: 40px;
      }
    }
  }


  ul.actions{
    padding: 0;

    li{
      .btn{
        padding: 0;
        font-size: 11px;
        font-weight: normal;
        color: #181818;
        &:hover{
          color: #EBD570;
          text-decoration: none;
        }
      }
    }
  }


  @media (min-width: 480px) and (max-width: 1199px) {

    .items-info,
    .items-info-contact,
    .need-help
    {
      margin-top: 0px;
      min-height: 310px;
    }
  }

  @media (max-width: 480px) {

    .items-info,
    .items-info-contact,
    .need-help
    {
      text-align: center;
    }
  }
}