.filter-sidebar{

  .block-content-categories{
    ul{
      li{

        &:first-child{
          margin-top: 0px;
        }

        margin-top: 4px;

        a{
          color: #9d9d9d;
          font-size: 11px;
          font-weight: normal;
          cursor: pointer;
        }

       .active{
          color: rgb(24,24,24);
        }
      }
    }
  }

  dt{
    margin-bottom: 5px;
  }

  .attribute-search-filter-multiselect{

    label {
      display: block;
      padding-left: 15px;
      text-indent: -15px;
      font-size: 11px;
      font-weight: normal;
      cursor: pointer;
    }
    input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -1px;
      *overflow: hidden;
    }

  }
}