{% extends 'FOSMessageBundle::layout.html.twig' %}

{% block fos_message_content %}

<h2>{% trans from 'FOSMessageBundle' %}send_new{% endtrans %}</h2>

{{ form_start(form) }}

  <div class="form-group">
    <label class="required">Message</label>
    {{ form_widget(form.body, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.body) }}
  </div>

  <p><input class="btn btn-primary" value="Envoyer" type="submit"></p>

  {{ form_rest(form) }}

</form>

{% endblock %}
