<table class="table">

    <thead>
        <tr>
            <th>{% trans from 'FOSMessageBundle' %}subject{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}messages{% endtrans %}</th>
            <th>{% trans from 'FOSMessageBundle' %}last_message{% endtrans %}</th>
            <th></th>
        </tr>
    </thead>

    <tbody>

    {% if threads %}
        {% for thread in threads %}
            <tr>
                <td>
                    <a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}">
                        {{ thread.subject }}
                    </a>

                    {% if not fos_message_is_read(thread) %}
                        ({% trans from 'FOSMessageBundle' %}new{% endtrans %})
                    {% endif %}
                </td>
                <td>
                    {{ thread.messages|length }}
                </td>
                <td>
                    {% if thread.lastMessage %}
                        {% trans with {'%date%': thread.lastMessage.createdAt|date('d/m/Y H:i')} from 'FOSMessageBundle' %}on{% endtrans %}
                    {% else %}
                        ----
                    {% endif %}
                </td>
                <td><a href="{{ url('fos_message_thread_view', {'threadId': thread.id}) }}" class="btn btn-primary btn-xs"><i class="fa fa-eye"></i> Voir</a></td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" class="text-center">
                {% trans from 'FOSMessageBundle' %}no_thread{% endtrans %}.
            </td>
        </tr>
    {% endif %}

    </tbody>

</table>
