{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<h1>Mon Panier</h1>

{% if products is empty %}
<p>Votre panier est vide.</p>
{% else %}
{% for product in products %}
<div>{{ product.name }} {{ product.price|currency_convert_format(product.getCurrency.getCode) }}</div>
{% endfor %}
{% endif %}

{% endblock %}
