
.deposit .category-choices {
  margin-bottom: 15px;
}

.deposit .category-choice {
  border: 1px solid #eee;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #181818;
  text-align: center;
  font-weight: normal;
  display: block;
  cursor: pointer;
}

@media (max-width: 767px) {
  .deposit .category-choice {
    display: block;
  }
}

.deposit .category-choice > span {
  border: 9px solid #fff;
  transition: border .3s ease;
  padding: 10px;
  min-height: 70px;
  display: block;
}

.deposit .category-choice > span:hover, .deposit .category-choice.active > span {
  border-color: #eee;
}

.deposit .category-choice > input[type=radio] {
  display: none;
}

.deposit .type-delivery {

  label {
    display: block;
    width: 100%;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    padding-top: 6px;

    .icon {
      margin: 6px 0;
    }
  }

}

.deposit-title {
  color: #181818;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.deposit #subcategories-select {
  display: none;
}

.deposit .box-subcategories-select {
  margin-bottom: 20px;
}

.deposit .select2-container, .modal .select2-container {
  margin-bottom: 5px;
}

.deposit #main-categ-error, .deposit #sub-categ-error, .deposit #minimum-photo-error {
  display: none;
}

.deposit {
  .main-photo, .other-photo {
    cursor: default;
    transition: border .3s ease;
    border: 3px solid #eee;
    text-align: center;

    .upload-pic-delete {
      position: absolute;
      background: #eee;
      color: #181818;
      padding: 0 4px 0 5px;
      right: 30px;
      top: 15px;
      cursor: pointer;
      border-radius: 50%;
      z-index: 50;
    }
  }

  .upload-pic-preview {
    display: none;
    position: relative;
  }

  .main-photo {
    margin-bottom: 50px;
    .upload-pic-preview {
      height: 411px;
      img.upload-pic-img {
        max-width: 100%;
        max-height: 411px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .upload-pic-input {
      background: url(../bundles/deposit/images/photo-camera.png) center 80px no-repeat;
      padding: 230px 20px 80px;
      cursor: pointer;
    }
  }

  .other-photo {
    .upload-pic-preview {
      height: 165px;
    }
    .upload-pic-input {
      background: url(../bundles/deposit/images/photo-camera.png) center 40px no-repeat;
      background-size: 70px;
      padding: 145px 0 20px;
      cursor: pointer;
    }
    .upload-pic-preview img.upload-pic-img {
      max-width: 100%;
      max-height: 165px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  #upload-alert-danger,
  #fileupload,
  #main-categ-error,
  #minimum-photo-error,
  #sub-categ-error,
  #subcategories-select,
  .color-choice > input[type=radio] {
    display: none;
  }
}