
.deposit .category-choices {
  margin-bottom: 15px;
}

.deposit .category-choice {
  border: 1px solid #eee;
  font-size: 1.7em;
  text-transform: uppercase;
  color: #181818;
  text-align: center;
  font-weight: normal;
  display: block;
  cursor: pointer;
}

@media (max-width: 767px) {
  .deposit .category-choice {
    display: block;
  }
}

.deposit .category-choice > span {
  border: 9px solid #fff;
  transition: border .3s ease;
  padding: 10px;
  min-height: 70px;
  display: block;
}

.deposit .category-choice > span:hover, .deposit .category-choice.active > span {
  border-color: #eee;
}

.deposit .category-choice > input[type=radio] {
  display: none;
}

.deposit .type-delivery {

  label {
    display: block;
    width: 100%;
    min-height: 100px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ddd;
    padding-top: 6px;

    .icon {
      margin: 6px 0;
    }
  }

}

.deposit-title {
  color: #181818;
  font-size: 1.5em;
  margin-bottom: 30px;
}

.deposit #subcategories-select {
  display: none;
}

.deposit .box-subcategories-select {
  margin-bottom: 20px;
}

.deposit .select2-container, .modal .select2-container {
  margin-bottom: 5px;
}

.deposit #main-categ-error, .deposit #sub-categ-error, .deposit #minimum-photo-error {
  display: none;
}