{% extends 'base.html.twig' %}

{% block body %}
Homepage test
<a href="{{ path('fos_user_security_login') }}">Se connecter</a>
<a href="{{ path('fos_user_registration_register') }}">S'enregistrer</a>
{% endblock %}
