<dl>
    <dt>Département</dt>
    <dd>
        <ol>
            <li>
                <select class="input-text search-county" name="county" onchange="this.form.submit()">
                    <option>Département</option>
                </select>
            </li>
        </ol>
    </dd>
</dl>
