<dl>
    <dt>Département</dt>
    <dd>
        <ol>
            <li>
                <select class="input-text search-county" name="county">
                    <option>Département</option>
                </select>
                <button type="submit" class="form-button button search-county-submit"><span><span>OK</span></span></button>
            </li>
        </ol>
    </dd>
</dl>
