<dl>
    <dt>Département</dt>
    <dd>
        <ol>
            <li>
                <select class="input-text search-county form-control" name="county">
                    <option>Toute la France</option>
                </select>
            </li>
        </ol>
    </dd>
</dl>
