<dl>
    <dt>Autour de moi</dt>
    <dd>
        <ol>
            <li>
                <select class="input-text form-control" name="around-me">
                    <option value="0">Indifférent</option>
                    <option value="10">10 Km</option>
                    <option value="25">25 Km</option>
                    <option value="50">50 Km</option>
                    <option value="80">80 Km</option>
                    <option value="100">100 Km</option>
                    <option value="200">200 Km</option>
                </select>
            </li>
        </ol>
    </dd>
</dl>
