<dl>
  <dt>{{ label }}</dt>
  <dd>
    <ol>
      <li>
        <input id="attribute-search-filter-{{ id }}" class="attribute-search-filter form-control" data-key="{{ id }}" type="number" value="" />
      </li>
    </ol>
  </dd>
</dl>
