<dl>
  <dt>Prix</dt>
  <dd>
    <ol>
      <li>
        <input type="text" size="2" value="" class="input-text search-price-from">€ &nbsp; à &nbsp;
        <input type="text" size="2" value="" class="input-text search-price-to">€ &nbsp;
        <button type="submit" class="form-button button search-price-submit"><span><span>OK</span></span></button>
      </li>
    </ol>
  </dd>
</dl>
