# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    oauth.user_provider.class: UserBundle\OauthProvider\UserProvider
    oauth.facebook.id:  xxxxxx
    oauth.facebook.secret: xxxxx
    oauth.twitter.id: xxxxx
    oauth.twitter.secret:   xxxxx
    oauth.google.id: xxxxx
    oauth.google.secret: xxxxx

    # MangoPay configuration
    mangopay.client_id: xxxxx
    mangopay.client_password: xxxxx
    mangopay.base_url: https://api.sandbox.mangopay.com
    mangopay.fee_rates:
        - rate: 15
          min: 0
        - rate: 12
          min: 500
        - rate: 10
          min: 1000
        - rate: 8
          min: 2000
    mangopay.fixed_fee: 0
    mangopay.max_output: 600
    mangopay.max_input: 1200

    # Sender email
    mailer_sender_email: contact@noname.dev
    mailer_sender_name: Noname
    mailer_contact_email: contact@noname.dev
    site_name: "Unik Place"

    website:
        contact:
            address: "11 rue de Caumartin, 75009, Paris, France"
            email: %mailer_contact_email%
            phone: "01 84 17 76 11"
        socialNetwork:
            facebook: "http://facebook.com"
            twitter: "http://facebook.com"
            google: "http://facebook.com"


    # Asset version
    assets_version: v000
