{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% set breadcrumb = category.getBreadcrumb() %}
<ol class="breadcrumb">
<li><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('homepage') }}" itemprop="url"><span itemprop="title">Accueil</span></a></span></li>
{% for element in breadcrumb %}
<li><span itemscope itemtype="http://data-vocabulary.org/Breadcrumb"><a href="{{ path('category', {path: element.getPath()}) }}" itemprop="url"><span itemprop="title">{{ element.name }}</span></a></span></li>
{% endfor %}
</ol>


<h1>{{ category.name }}</h1>
{% endblock %}
