{% extends "AppBundle::base.html.twig" %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <div class="row">
        <div class="col-sm-3 sidebar">
          <div class="block block-account">
            <div class="block-title">
              <strong><span>Mon Compte</span></strong>
            </div>
            <div class="block-content">
              <ul>
                <li><a href="#">Mes Produits</a></li>
                <li><a href="#">Mon Argent</a></li>
                <li><a href="#">Mes Préférences</a></li>
                <li class="current"><a href="{{ path('fos_user_profile_edit') }}">Mes Paramètres</a></li>
                <li><a href="#">Mes Achats</a></li>
                <li><a href="#">Mes Ventes</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-9">
          {% block account_content %}{% endblock %}
        </div><!-- col -->
      </div><!-- .row -->

    </div>
  </div>
</div>
{% endblock %}