<ul>
  <li><a href="#">Mes produits</a></li>
  <li>
    Mon profil
    <ul>
      <li><a href="#">Mon argent</a></li>
      <li><a href="#">Mes préférences</a></li>
      <li><a href="{{ path('fos_user_profile_edit') }}">Mes paramètres</a></li>
    </ul>
  </li>
  <li>
    Mes transactions
    <ul>
      <li><a href="#">Mes achats</a></li>
      <li><a href="#">Mes ventes</a></li>
    </ul>
  </li>
</ul>