{% extends 'Admin2Bundle::layout.html.twig' %}

{% block page_title %}Nouvelle catégorie{% endblock %}
{% block page_subtitle %}Nouvelle catégorie{% endblock %}


{% block page_content %}

  <div class="box">
    <!-- /.box-header -->
    <div class="box-body">
      <div class="col-md-8">
        {{ form_start(form) }}
        {{ form_end(form) }}
      </div>

    </div>
  </div>


{% endblock %}



  {% block javascripts_inline %}
    <link rel="stylesheet" href="{{ asset('components/select2/dist/css/select2.min.css')}}">
    <script src="{{ asset('components/select2/dist/js/select2.js') }}"></script>
    <script>
      $(document).ready(function() {
        $("#create_category_form_parent").select2({
          placeholder: "Catégorie parente",
          allowClear: true
        });
        $("#create_category_form_children").select2();
        $("#create_category_form_attributes").select2();
        $("#create_category_form_collections").select2();
      });
    </script>
  {% endblock %}