{% extends 'AppBundle::base.html.twig' %}

{% block title %}Le Journal{% endblock %}
{% block description %}Le Journal de {{ siteName }}{% endblock %}

{% block javascript_include %}{{ jsinit(['product']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <h1 class="blog-head-title">Le Journal</h1>

      <ul class="blog-categories">
        <li><a href="#">Tout</a></li>
        <li><a href="#">Inspiration</a></li>
        <li><a href="#" class="active">Tutoriaux</a></li>
        <li><a href="#">&Eacute;vasion</a></li>
        <li><a href="#">Catégorie 4</a></li>
        <li><a href="#">Catégorie 5</a></li>
      </ul>

      <div class="box-blog-detail">
        <img class="blog-detail-mainpic img-responsive" src="http://i.imgur.com/8zM8CTv.jpg" alt="" />

        <div class="col-sm-1 blog-detail-date">
          <span class="day">19</span>
          <span class="month">Septembre<br />2016</span>
        </div>
        <div class="col-sm-11 box-detail-article">
          <div class="blog-detail-article">
            <div class="blog-detail-title">
              Déco tropicale sur l'île de Ré
            </div>
            <div class="blog-detail-category"><span>Posté dans</span> <a href="#">Inspiration</a></div>
            <div class="blog-detail-content">
              <p>Mauris semper fermentum ante sed ultricies. In rutrum dolor gravida ligula placerat egestas. Morbi eget convallis orci. Pellentesque suscipit vehicula nisl ac blandit. Mauris sit amet sem ultricies, laoreet justo vulputate, placerat est. Duis sed vehicula mi.</p>

              <p>Mauris cursus, magna vel consequat fermentum, elit orci pulvinar eros, a accumsan sapien est ac diam. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nullam fringilla rutrum arcu scelerisque rhoncus. Nullam eu tempus arcu, at laoreet est. Nulla a porta dolor, ut tristique justo.</p>

              <p>Vestibulum nisi augue, pellentesque vel purus sit amet, condimentum consequat orci. Nullam ornare vulputate lacinia. Duis non fermentum libero, quis elementum sem. Suspendisse elementum a orci vel varius. Ut eget nisi a nunc lacinia iaculis. Mauris quis nunc non tortor commodo imperdiet porttitor nec lorem. Sed hendrerit, velit quis consequat scelerisque, nisl elit pharetra magna, ut sagittis nunc sem et tellus.</p>

              <p>Pellentesque est dui, imperdiet eget elit non, commodo dapibus nunc. Praesent est lacus, condimentum et mollis sit amet, viverra ut nisi. Nam ac dolor semper, pellentesque velit at, pretium augue. Etiam lobortis lacus et diam finibus porttitor. Suspendisse sit amet eleifend dui. Nunc vitae mi risus. Maecenas pharetra ultricies faucibus. Morbi libero arcu, tristique ut consequat sit amet, sollicitudin nec dolor. Maecenas non enim nec sapien ullamcorper porta. Aliquam a purus magna. Nulla finibus ut odio ac condimentum. Proin eleifend hendrerit odio eu mattis. Donec in felis massa. Praesent vehicula porttitor imperdiet. Ut tincidunt risus in lacus placerat, viverra accumsan risus mattis.</p>
            </div>

            <div class="blog-detail-author clearfix">
              <div class="blog-author-avatar">
                <img src="https://kckdata.io/avatar/a/alexisp.jpg?v=e95cebccdef1cf7a958ca80db2df5189630fb5d1" alt="avatar" height="70" width="70" />
              </div>
              <div class="blog-author-about">
                Alexis Proust
              </div>
            </div><!-- .blog-detail-author -->

          </div><!-- .blog-detail-article -->
        </div><!-- .box-detail-article -->

      </div><!-- .box-blog-detail -->

      <div class="box-blog-comments">
        <div class="blog-comments-title">Laisser un commentaire</div>
        <p>Vous devez être connecté pour poster un commentaire.</p>
      </div>

    </div><!-- .container -->
  </div><!-- .main -->
</div><!-- .main-wrapper -->
{% endblock %}