{% extends 'AppBundle::base.html.twig' %}

{% block title %}Mon panier{% endblock %}
{% block description %}Mon panier sur Noname{% endblock %}

{% block javascript_include %}{{ jsinit(['payment']) }}{% endblock javascript_include %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <h1>Confirmation de la commande</h1>

      <div class="alert alert-success">Merci, votre commande a bien été prise en compte.</div>

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
