{% extends 'AppBundle::base.html.twig' %}

{% block title %}Mon panier{% endblock %}
{% block description %}Mon panier sur {{ siteName }}{% endblock %}

{% block body %}
<div class="main-wrapper">
  <div class="container">
    <div class="main">

      <h1>Inscription / Connexion</h1>

      <a href="{{ path('sell_category') }}" class="btn btn-default">Etape suivante</a>

    </div><!-- .main -->
  </div><!-- .container -->
</div><!-- .main-wrapper -->

{% endblock %}
