{% extends 'Admin2Bundle::layout.html.twig' %}

{% block page_title %}Editer une traduction{% endblock %}
{% block page_subtitle %}Editer une traduction{{ % endblock %}


{% block page_content %}

<div class="box">
<!-- /.box-header -->
<div class="box-body">

{{ form(form) }}
    </div>
    </div>


{% endblock %}