{% extends "UserBundle::base.html.twig" %}

{% block title %}Mes préférences{% endblock %}
{% block description %}Mes préférences sur Noname{% endblock %}


{% block account_content %}

  <h2>Mes préférences</h2>

  {{ form(form) }}

{% endblock %}
