{% extends "UserBundle::base.html.twig" %}

{% block title %}{{ 'account.preference.seo-title'|trans }}{% endblock %}
{% block description %}{{ 'account.preference.seo-description'|trans({'%siteName%': siteName }) }}{% endblock %}


{% block account_content %}

  <h2>{{ 'account.preference.title-h1'|trans }}</h2>

  {{ form(form) }}

{% endblock %}
