{% extends 'base.html.twig' %}

{% block body %}
  Bienvenue dans votre espace utilisateur {{ app.user.username }}<br />

  <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Editer mon profil</a>

  <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
{% endblock %}
