{% extends 'base.html.twig' %}

{% block body %}
  <h1>Bienvenue dans votre espace utilisateur {{ app.user.username }}</h1>

  <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-warning">Editer mon profil</a>

  <a href="{{ path('fos_user_security_logout') }}" class="btn btn-primary btn-sm">Se déconnecter</a>
{% endblock %}
