{% extends "UserBundle::base.html.twig" %}

{% block title %}Validation de votre identité bancaire{% endblock %}
{% block description %}Validation de votre identité bancaire{% endblock %}


{% block account_content %}

  <h2>Validation de votre identité bancaire</h2>

  <p>Afin de lutter contre la fraude, la loi nous impose de valider votre identité bancaire. Vous devez nous fournir plusieurs informations.</p>

  {% for flashMessage in app.session.flashbag.get('kyc_errors') %}
  <div class="alert alert-warning">{{ flashMessage }}</div>
  {% endfor %}

  {% for flashMessage in app.session.flashbag.get('kyc_success') %}
  <div class="alert alert-success">{{ flashMessage }}</div>
  {% endfor %}

  {{ form_errors(form) }}

  {{ form(form) }}

{% endblock %}
