{% extends 'AppBundle::base.html.twig' %}

{% block body %}

<h1>A propos</h1>

<div class="alert alert-success">Le chiffre magique est : {{ magicNumber }}</div>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et ex non ipsum lacinia laoreet. Nullam faucibus dignissim neque, at malesuada libero convallis malesuada. Aliquam commodo velit ac odio rutrum, in faucibus nibh placerat. Vivamus venenatis sapien quam. Aliquam ornare, ex ut ultrices lacinia, diam est ornare tortor, cursus sollicitudin justo lectus tristique arcu. Praesent quis sapien suscipit, venenatis nisi ut, scelerisque nunc. Nam et congue sapien. Aenean consectetur libero porta, pulvinar urna et, ornare turpis. Vestibulum non risus ut magna pellentesque convallis id in metus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>

<p>Praesent mi magna, congue vitae odio vitae, scelerisque lobortis magna. Ut consequat pellentesque turpis. Suspendisse sit amet pharetra mauris, sed laoreet metus. In hac habitasse platea dictumst. Donec dignissim augue a nisi bibendum pulvinar. Nunc rhoncus libero vel vulputate cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla a nisl velit.</p>

{% endblock %}