{% for idx, category in categories %}
<li class="level0 nav-{{ idx }} level-top">
<a href="{{ path('category', {path: category.getPath()}) }}" class="level-top">
  <span>{{ category.name }}</span>
</a>
</li>
{% endfor %}
