{% extends 'AppBundle::base.html.twig' %}

{% block title %}Foire aux questions{% endblock %}

{% block body %}

  <div class="container faq">

    <h1>Foire aux questions</h1>

    <h2>Premier pas sur le site</h2>

    <h3>Qui peut s’inscrire ?</h3>
    <p>Tout le monde ! Unik Place accueille la mise en vente de produits de particuliers et de professionnels.</p>
    <p>Néanmoins, il faut être majeur pour pouvoir mettre en vente un produit sur le site.</p>

    <h3>Unik Place est-il exclusivement réservé aux résidents français ?</h3>
    <p>Oui, pour le moment en tout cas. Unik Place propose des produits en vente d’utilisateurs venant de la France
    métropolitaine ainsi que la Guadeloupe, la Martinique, la Guyane, la Reunion et Mayotte.</p>
    <p>Le site Unik Place s’étendra prochainement vers l’international pour l’achat et la vente des meubles et des objets
    d’occasion.</p>

    <h3>Comment s’inscrire sur Unik Place ?</h3>
    <p>Pour s’inscrire sur Unik Place (si vous n’avez toujours pas de compte), rien de plus simple, il vous suffit de
    suivre les étapes suivantes :</p>
    <ul>
    <li>Cliquez sur “S’inscrire” dans le menu en haut de votre écran</li>
    <li>Saisissez les champs demandés et cliquez sur le bouton s’inscrire pour faire partit de notre communauté de
    passionnés.</li>
      <li>Vérifiez vos emails pour valider votre compte, et le tour est joué ! C’est terminé, vous pouvez acheter et vendre
    sur notre plateforme.</li>
    </ul>


    <h3>Comment passer une annonce sur le site Unik Place ?</h3>
    <p>Pour déposer gratuitement une annonce sur Unik Place, il vous suffit de cliquer sur le bouton “Vendre”, et de suivre
    les instructions demandées sur le formulaire de dépôt.</p>
    <p>Par contre, il est impératif de vous connecter ou de vous créer un compte pour pouvoir vendre sur le site.
    Le dépôt d’annonce se déroule en 5 étapes :</p>
    <ul>
      <li>Choisissez la catégorie de votre produit que vous souhaitez mettre en vente</li>
      <li>Ajoutez vos photos</li>
      <li>Complétez la description de votre produit via notre formulaire</li>
      <li>Mettez un prix à votre produit.</li>
      <li>Sélectionnez votre mode de livraison souhaitée</li>
    </ul>
    <p>
    Une fois effectué, votre produit et vos photos seront retravaillés par nos équipes pour mettre en avant votre
    produit et vous permettre de le vendre le plus rapidement possible.
    </p>

    <h2>Mon compte</h2>

    <h3>Comment consulter mon compte ?</h3>
    <p>Afin de consulter votre compte, vous devez dans un premier temps vous connecter sur le site grâce à votre adresse
    email et votre mot de passe.</p>
    <p>Si vous ne disposez pas de compte, alors il faut vous inscrire sur le site.
    Une fois connecté, vous pouvez accéder à votre compte en cliquant sur votre icone. Puis, vous pourrez consulter et
    gérer l’ensemble de ces onglets :</p>
    <ul>
      <li>Mes produits : tous vos produits en vente sur Unik Place</li>
      <li>Mon compte : toutes les informations relatives à votre compte</li>
      <li>Mes transactions : tous vos achats et vos ventes sur le site</li>
      <li>Mes notifications : toutes les nouvelles actions que vous devez effectuer</li>
    </ul>

    <h3>Comment changer mon adresse mail ?</h3>
    <p>Pour changer votre adresse mail vous permettant de recevoir toutes les informations concernant vos produits, vos
    messages, vos achats et vos ventes sur le site. Vous devez dans un premier temps vous connecter à votre compte Unik
    Place, puis de vous rendre sur l’onglet “Mon compte”. Il vous suffit ensuite de rentrer votre nouvelle adresse mail
    et de cliquer sur le bouton “Modifier mon adresse mail”.</p>
    <p>Un email de confirmation attestera que votre modification a bien été prise en compte.</p>

    <h3>Je n'arrive pas à me connecter sur le site</h3>
    <p>Vous n’arrivez pas à vous connecter à votre compte ? Vérifiez bien que votre adresse email est bien écrite et
    réessayez de renseigner votre mot de passe.</p>
    <p>Si vous avez oublié votre mot de passe, vous pouvez cliquer sur “Mot de passe oublié ?” afin de réinitialiser votre
    mot de passe.</p>
    <p>En cas de problèmes autres, n’hésitez pas à nous contacter.</p>

    <h3>Comment compléter/modifier mon profil ?</h3>
    <p>Pour compléter ou modifier votre compte Unik Place, rendez-vous sur votre profil (dans l’espace “Mon compte”).<br />
    Vous pourrez y changer votre adresse mail, votre mot de passe et ajouter ou modifier votre avatar, mais aussi
    renseigner vos adresse de livraison pour l’achat ou le retrait au domicile de vos articles en vente.</p>

    <h3>Comment supprimer mon compte Unik Place ?</h3>
    <p>Vous avez la possibilité de supprimer à tout moment votre compte Unik Place en vous rendant sur votre profil (dans
    l’espace “Mon compte”), une fois connecté sur le site.<br />
    Un bouton en bas de la page “Supprimer mon compte” vous permettra de supprimer définitivement votre compte et vos
    produits en vente.</p>

    <p>
    Vous pourrez cependant recréer un nouveau compte sur Unik Place afin de consulter et déposer de nouveaux articles en
    vente. Cependant, vos anciens produits en vente ne seront pas sauvegardés.
    </p>


    <h2>Gestion des annonces</h2>

    <h3>Comment modifier le prix de mon annonce ?</h3>
    <p>Vous pouvez à tout moment modifier le prix de votre annonce en vous rendant sur la page “Mes annonces” (disponible
    dans votre compte utilisateur une fois connecté).</p>
    <p>Ainsi, vous pourrez à tout moment modifier le prix de votre produit en vente sur le site en renseignant un nouveau
    prix. De plus, votre produit sera plus visible sur le site. Il sera en effet, visible dans les pages promotions du
    moment ou bien les univers créés spécifiquement en fonction du produit.</p>

    <h3>Pourquoi mon annonce n’est pas en ligne ?</h3>
    <p>Si vous venez de déposer votre annonce, elle doit dans un premier temps être validée par l’équipe de Unik Place.<br />
    De plus, nos services doivent modifier votre annonce pour rendre votre produit le plus attractif possible (retouche
    photo, vérification de l’orthographe etc…)</p>

    <h3>Comment supprimer mon annonce ?</h3>
    <p>Vous pouvez supprimer votre annonce à tout moment en vous rendant sur votre page “Mes annonces” (dans l’espace “Mon
    compte”).<br />
      Vous pouvez supprimer des annonces que vous ne souhaitez plus mettre en ligne ou de biens vendus.</p>


    <h2>Acheteurs</h2>

    <h3>Comment acheter un produit directement sur Unik Place ?</h3>
    <p>Afin d’effectuer un achat en ligne, il est possible pour un utilisateur de procéder au paiement sécurisé.<br />
    Ainsi, l’acheteur à la possibilité de faire une offre afin de négocier le prix d’un produit à partir du site ou
    d’acheter le produit au prix indiqué sur la fiche produit.</p>
    <p>En cas de négociation sur le prix, l’offre doit être acceptée par le vendeur, l’acheteur doit alors passer au
    paiement directement à partir du site. Pour cela, l’acheteur doit indiquer ses coordonnées bancaires. Et là
    encore, le paiement se fait de manière entièrement sécurisée.</p>

    <h3>Quels sont les modes de livraison possibles ?</h3>
    <p>Une fois l’achat effectué pour un produit d’occasion, l’utilisateur doit choisir le mode de livraison.</p>
    <p>Un acheteur a généralement le choix entre une remise en main propre et/ou une livraison. Toutefois, le vendeur
    peut exiger certains modes de livraison : uniquement par remise en main propre et/ou bien uniquement une vente par
    livraison du produit.</p>

    <h3>Le paiement est-il sécurisé pour une livraison en remise en main propre ?</h3>
    <p>Oui. Le paiement reste sécurisé pour une remise en main propre.<br />
    Lorsque l’acheteur effectue un achat en ligne avec une remise en main propre, un code lui est remis.<br />
    Il ne reste qu’une chose, convenir d’un point de rendez-vous. Une fois l’état des lieux du produit fait,
    l’acheteur doit donner le code de paiement au vendeur pour qu’il puisse toucher son argent.</p>
    <p>Ainsi, un acheteur n’est plus obligé de se déplacer avec du liquide ou un chèque et le vendeur est certain d’être
    payé.</p>

    <h3>Qui doit payer les frais de transport ?</h3>
    <p></p>C’est l’acheteur qui doit payer les frais de transport en cas d’achat par livraison.<br />
    En revanche, si l’acheteur choisit de retirer le produit au domicile du vendeur, les frais de port sont gratuits
    </p>

    <h3>Comment suivre mes achats ?</h3>
    <p>En tant qu’acheteur, vous avez la possibilité de suivre vos achats en cours à partir de votre espace utilisateur.<br />
    Afin de voir l’avancement d’une commande, connectez-vous sur votre compte utilisateur, puis dirigez-vous sur
    l’onglet « Mes transactions ». <br />A partir de cette interface, vous pourrez consulter vos achats en cours ainsi que
    votre historique d’achat sur le site.</p>

    <h3>Pourquoi ma commande est en attente de confirmation ?</h3>
    <h3>Est-il possible d’annuler une commande ?</h3>
    <h3>Je n'ai pas reçu ma commande, que faire ?</h3>
    <h3>Comment me faire rembourser un achat de produit non conforme ?</h3>
    <h3>Ma commande est annulée, que se passe-t-il ?</h3>
    <h3>Comment noter un vendeur ?</h3>


    <h2>Vendeurs</h2>

    <h3>Comment envoyer un article ?</h3>
    <p>Vous avez reçu et validé une commande. Félicitations. Vous pouvez dès maintenant vous rendre à un bureau de poste.<br />
    Les frais de livraison ont déjà été payés par l’acheteur et vous seront versés à la confirmation de la réception
    du colis. Vous devez donc “avancer” les frais de livraison. C’est pourquoi il est important de bien renseigner le
    bon format du colis et les bons modes de livraison.</p>

    <h3>Quels sont les modes de livraison possibles ?</h3>
    <p>Une fois l’achat effectué pour un produit d’occasion, l’utilisateur doit choisir le mode de livraison.<br />
    Un acheteur a généralement le choix entre une remise en main propre et/ou une livraison. Toutefois, le vendeur
    peut exiger certains modes de livraison : uniquement par remise en main propre et/ou bien uniquement une vente par
    livraison du produit.</p>

    <h3>Quel type de colis puis-je utiliser pour envoyer ma commande ?</h3>
    <h3>Que se passe-t-il si vous avez sélectionné un mauvais format de colis ?</h3>
    <h3>Comment se faire payer avec une remise en main propre si l’acheteur a oublié de communiquer le code de
      paiement ?</h3>

    <h3>Qui doit payer les frais de transport ?</h3>
    C’est l’acheteur qui doit payer les frais de transport en cas d’achat par livraison.
    En revanche, si l’acheteur choisit de retirer le produit au domicile du vendeur, les frais de port sont gratuits

    <h3>Comment retirer mon argent après avoir vendu un produit sur Unik Place ?</h3>
    <h3>Quel est le montant de la commission prise par Unik Place ? > Pour une vente classique</h3>
    <h3>Comment suivre mes ventes ?</h3>
    En tant que vendeur, vous avez la possibilité de suivre vos ventes en cours à partir de votre espace utilisateur.
    Afin de voir l’avancement de vos ventes, connectez-vous sur votre compte utilisateur, puis dirigez-vous sur
    l’onglet « Mes transactions ». A partir de cette interface, vous pourrez consulter vos ventes en cours ainsi que
    votre historique de ventes sur le site.

    <h3>Est-il possible d’annuler une commande ?</h3>
    <h3>Comment noter un acheteur ?</h3>


    <h2>Sécurité</h2>

    Les produits en vente sur Unik Place sont-ils vérifiés avant diffusion ?
    Que faire si je détecte un comportement suspect chez un vendeur ?
    Pourquoi mon annonce a-t-elle été refusée ?
    Pourquoi mon compte a-t-il été mis en quarantaine ?
    Comment le paiement est-il sécurisé sur Unik Place ?


  </div>
{% endblock %}

