{% for category in categories %}
<li>
  <a href="{{ path('category', {path: category.getPath()}) }}">
    <span>{{ category.translate(app.request.get('_locale')).getName() }}</span>
  </a>
</li>
{% endfor %}
