{% extends 'AppBundle::base.html.twig' %}

{% block body %}
<div class="row">
  <div class="col-sm-6">
    <div class="featuring-product">
      <img src="{{ asset('bundles/app/images/woman.jpg') }}" alt="femme" class="img-responsive" />
      <h3>La sélection de la semaine</h3>
      <h2>Couronne de fleurs en soie</h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="featuring-product">
      <img src="{{ asset('bundles/app/images/chair.jpg') }}" alt="chaise" class="img-responsive" />
      <h3>Produit élu par la communauté</h3>
      <h2>Chaise Peacock de Hans J. Wegner</h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="featuring-product">
      <img src="{{ asset('bundles/app/images/chair.jpg') }}" alt="chaise" class="img-responsive" />
      <h3>Produit élu par la communauté</h3>
      <h2>Chaise Peacock de Hans J. Wegner</h2>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="featuring-product">
      <img src="{{ asset('bundles/app/images/woman.jpg') }}" alt="femme" class="img-responsive" />
      <h3>La sélection de la semaine</h3>
      <h2>Couronne de fleurs en soie</h2>
    </div>
  </div>
</div>
{% endblock %}