{% extends 'AppBundle::base.html.twig' %}

{% block body %}

{% if products is empty %}
<div class="text-center">
  Aucun produit trouvé pour la recherche <i>{{ app.request.query.get('q') }}</i>
</div>
{% else %}

{% for product in products %}
<div class="col-sm-3">
  <a href="#" role="button">
    {% set images = product.getImages() %}
    <img class="img-responsive" src="{% if images[0] is defined %}{{ vich_uploader_asset(images[0], 'imageFile') }}{% else %}{% endif %}" alt="{{ product.name }}" />
    <div class="text-center">{{ product.name }}</div>
  </div>
</div>
{% endfor %}

{% endif %}

{% endblock %}
